#menu{
  display: none ;
}
/*Body*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1b1c1e;
  width: 100%;
  color: white;
}
#contenido{
  display: block;
}
/* Menu */
#menuArea>svg{
  cursor: pointer;
  position: fixed;
  right: 10vw;
  background-color: #ecebf3ee;
  opacity: 100%;
  bottom: 7vh;
  z-index: 1;
  aspect-ratio: 4/3;
  height: 50px;
  width: 50px;
  border: 1px solid#c5283d;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 0.1s ease-in-out;
}
#menuArea>svg:hover{
  background-color: #ecebf3;
  transform: scale(1.2);
}
#menuArea>svg>path{
  stroke: #f00b2a;
  stroke-width: 0.6;
}
#menuArea>svg>path{
  stroke-width: 0.9;

}
#menu{
  display: none;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ecebf3;
}
#menu>div:nth-child(1){
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 4vw;
}
#menu>div:nth-child(1)>svg{
  cursor: pointer;
  aspect-ratio: 4/3;
  height: 50px;
  width: 50px;
  transition: all 0.1s ease-in-out;
}
#menu>div:nth-child(1)>svg:hover{
  transform: scale(1.2);
}
#menu>div:nth-child(1)>svg{
  stroke: #f00b2a;
  stroke-width: 0.001px;
}

#menu>div{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 45vh;
  font-family: int;
  font-size: x-large;
  font-family: 'Inter', sans-serif;
  color: #c5283d;
  transition: font-size 0.5s ease-out;
}
#menu>div:hover{
  font-size: xx-large;
}
#menu>div:nth-child(2){
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#menu>div:nth-child(3){
  border-bottom: 1px solid black;
}
#menu>div:nth-child(4){
  border-right: 1px solid black;
}
/* Home section */
.home {
  height: 100vh;
  width: 100%;
}
#myName {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: aliceblue;
  padding-bottom: 10vh;
  animation-duration: 1s;
}
#subtitles {
  padding-bottom: 10vh;
}

.btnNext{
  margin-top: 15vh;
}
.btnNext>a:any-link{
  color: #ecebf3;
}
.btnNext>a>svg{
  background-color: #00D1B2;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 36px;
  height: 60px;
  width: 60px;
  transition: transform 0.3s ease-in-out;
}
.btnNext>a>svg:hover{
  transform: scale(1.2);
}
.subtitle {
  color: aliceblue;
  font-size: 2rem;
  animation-duration: 2s;
}
.section {
  height: 100vh;
  width: 100%;
  padding: 1vh 8vw;
}
.sectionTittle {
  font-size: 2rem;
  color: aliceblue;
}
#subtitle1 {
  position: relative;
  left: 100%;
  animation: animacionSubtitulo1 2s ease-out;
  animation-fill-mode: forwards;
}
@keyframes animacionSubtitulo1 {
  100% {
    left: 0%;
  }
}
#subtitle2 {
  position: relative;
  right: 100%;
  top: 60%;
  animation: animacionSubtitulo2 2s ease-out;
  animation-fill-mode: forwards;
}
@keyframes animacionSubtitulo2 {
  100% {
    right: 0%;
  }
}
/* Technologies section */
.subtitleSection {
  font-size: 1.25rem;
  text-align: start;
  color: rgb(216, 216, 216);
}
.containerImagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
#fotoPerfil {
  background: none;
  width: 75%;
}
@media screen and (max-width: 991px) {
  #fotoPerfil{
    width: 50%;
  }
}
.tecnologia {
  border-top: 1px solid white;
  height: 12vh;
}
.tittleTecnologia {
  font-size: 1.25rem;
  text-align: start;
  color: rgb(216, 216, 216);
  font-weight: 600;
}
.nTecnologia {
  font-weight: 100;
  margin-right: 5vw;
}
#divHTML {
  background-image: url(img/technologies/html.svg),
    url(img/technologies/css.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%, right 35% bottom 50%;
  background-size: auto 70%;
}
#divJavascript {
  background-image: url(img/technologies/js.svg);
  background-repeat: no-repeat;
  background-position: right 20% bottom 50%;
  background-size: auto 60%;
}
#divSEOSEM {
  background-image: url(img/technologies/seo.svg), url(img/technologies/sem.svg);
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%, right 35% bottom 50%;
  background-size: auto 65%;
}
#divJava {
  background-image: url(img/technologies/java.svg);
  background-repeat: no-repeat;
  background-position: right 20% bottom 50%;
  background-size: auto 80%;
}
#divWordpress {
  background-image: url(img/technologies/wordpress.svg);
  background-repeat: no-repeat;
  background-position: right 15% bottom 50%;
  background-size: auto 80%;
}
#divPHP {
  background-image: url(img/technologies/php.svg);
  background-repeat: no-repeat;
  background-position: right 22% bottom 50%;
  background-size: auto 60%;
}
/* Projects section */
.main-carousel {
  height: 70vh;
  display: block;
}
.carousel {
  background: #eee;
}
.carousel-cell {
  width: 100%; /* full width */
  height: 100%;
  margin-right: 10px;
  background: #222;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  counter-increment: gallery-cell;
}
.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}
.carousel-cell > img {
  width: 100%;
}
.carousel-cell > a:any-link {
  color: #04A777;
  font-size: 3vh;
  text-align: center;
  text-decoration: none;
}
.carousel-cell > a > img {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: scale-down;
}
/* Contact section */
#iconsContainer {
  justify-content: center;
  align-items: center;
}
.contactIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.contactIcon svg {
  cursor: pointer;
  width: 60%;
  height: 60%;
  transition: transform 0.3s ease-out;
}
.contactIcon svg:hover{
  transform: scale(1.1);
}
.contactIcon path {
  fill: #04A777;
}
@media screen and (min-width: 800px) {
  .contactIcon svg {
    width: 40%;
    height: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .contactIcon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contactIcon svg {
    aspect-ratio: 4/3;
    width: 60%;
    height: 60%;
    object-fit: scale-down;
  }

}
/* Contact modal */
.modal{
  color: #363636;
}
.modal-content{
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

.modal button{
  color: black;
}
.modal-header{
  border: none;
  border-bottom: 2px solid #C0C0C0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 4vh;
}
.modal-body{
  padding-right: 0;
  padding-left: 0;
}
.modal-body>form{
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}
.modal-body>form>input, .modal-body>form>textarea{
  border: 1px solid #969494;
  border-radius: 6px;
  padding: 1vh 2vw;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.modal-body>form>span{
  margin-bottom: 4vh;
}
.modal-body>form>label{
  font-weight: bold;
  font-size: larger;
}
.correct{
  color: #00D1B2 !important;
}
.incorrect{
  color: #FF3860;
}
.modal-Title{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 5vh;
}
.modal-footer{
  padding-right: 0;
  padding-left: 0;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  margin-bottom: 4vh
}
.modal-footer>button:nth-child(1){
  background-color: white;
  font-size: larger;
  border: none;
  color: #FF3860;
}
.modal-footer>button:nth-child(2){
  font-size: larger;
  background-color: #00D1B2;
  border: none;
  color: white;
  font-weight: 200;
}

/* Footer */
#footer{
  height: 25vh;
  justify-content: space-between;
  border-radius: 5px ;
  background-image: linear-gradient(to right, #1f202048, #7e82871f);
}
#footer>a>svg{
  aspect-ratio: 4/3;
  height: 50px;
  width: 50px;
  border: 1px solid#c5283d;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 0.3s ease-out;
}
#footer>a>svg:hover{
  transform: scale(1.2);
}
#footer>a>svg>path{
  stroke: #c5283d;
  stroke-width: 1;
}
#footer>a:any-link{
  color: #c5283d;
}
#footer>span{
  font-size: 3vh;
}
#toStartButton{
  cursor: pointer;
}