/*Colores  hsl(49 37% 94%)
Principal: #F9F9F9 || #1B1C1E
Secundario: #4B556B
Accent: $7076FE
*/
/*Nav*/
/* #menuToggle {
	display: none;
  }
  .open {
	background-color: white;
	width: 24px;
	height: 4px;
	display: block;
	border-radius: 2px;
	cursor: pointer;
	position: fixed;
	right: 8vw;
	bottom: 4vh;
  }
  
  .open:before {
	content: "";
	background-color: white;
	width: 24px;
	height: 4px;
	display: block;
	border-radius: 2px;
	position: relative;
	top: -8px;
	transform: rotate(0deg);
	transition: all 0.3s ease;
  }
  
  .open:after {
	content: "";
	background-color: white;
	width: 24px;
	height: 4px;
	display: block;
	border-radius: 2px;
	position: relative;
	top: 4px;
	transform: rotate(0deg);
	transition: all 0.3s ease;
  }
  
  .menuOpen {
	width: 24px;
	height: 20px;
	display: block;
	padding: 15px;
	cursor: pointer;
	float: right;
  }
  
  .menuOpen:hover .open:before {
	top: -9px;
  }
  
  .menuOpen:hover .open:after {
	top: 5px;
  }
  
  .menu {
	position: fixed;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	top: 0;
	background: rgba(255, 135, 2, 0.9);
  }
  
  .menu label {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	background-size: 100%;
	cursor: pointer;
  }
  
  .menu .menuContent {
	position: relative;
	top: 50%;
	font-size: 54px;
	text-align: center;
	padding-bottom: 20px;
	margin-top: -170px;
  }
  
  .menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
  }
  
  .menu ul li a {
	display: block;
	color: white;
	text-decoration: none;
	transition: color 0.2s;
	font-family: Trebuchet MS;
	text-transform: uppercase;
	padding: 10px 0;
  }
  
  .menu ul li a:hover {
	color: #ff8702;
  }
  
  .menu ul li:hover {
	background: white;
  }
  
  .menuEffects {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
	transform: translateY(0%);
	transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
	opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
	background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
	content: "";
	background-color: white;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
	content: "";
	background-color: white;
	transform: rotate(-45deg);
	position: relative;
	top: 0;
	right: 0;
	z-index: 1;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
	transform: translateY(-30%);
  }
   */
/*Body*/
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #1B1C1E;
	width: 100vw;
	 color: white;
}
.home{
	height: 100vh;
	width: 100vw;
}
#myName{
	margin: 0;
	padding: 0;
	font-size: 3rem;
	color: aliceblue;
	padding-bottom: 10vh;
	animation-duration: 1s;
}
#subtitles{
	padding-bottom: 10vh;
}
.btnNextSection{
	position: absolute;
	bottom: 10vh;
}
.btnNextSection a{
	color: white;
}
.btnNextSection a:hover{
	color: white;
}
.downIcon,.downIcon:visited{
	background-color: red;
	border-radius: 27px;
	height: 7.5vh;

}
.downIcon:hover{
	background-color: #1B1C1E;
	height: 10vh;

}
.subtitle{
	color: aliceblue;
	font-size: 2rem;
	animation-duration:2s;
}
.section{
	height: 100vh;
	width: 100vw;
	padding: 1vh 8vw;
}
.sectionTittle{
	font-size: 2rem;
	color: aliceblue;
}
#subtitle1{
	position: absolute;
	left: 0%;
	animation: animacionSubtitulo1 1s ease-out;
	animation-fill-mode: forwards;
}
@keyframes animacionSubtitulo1{
	100%{
		left: 25%;
	}
}
#subtitle2{
	position: absolute;
	right: 0%;
	top: 60%;
	animation: animacionSubtitulo2 1s ease-out;
	animation-fill-mode: forwards;
}
@keyframes animacionSubtitulo2{
	100%{
		right: 25%;
	}
}
.subtitleSection{
	font-size: 1.25rem;
	text-align: start;
	color: rgb(216, 216, 216);
}