/*Colores  hsl(49 37% 94%)
Principal: #F9F9F9 || #1B1C1E
Secundario: #4B556B
Accent: $7076FE
*/
/*Nav*/
.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #45B5AA;
	display: block;
	transition: 0.3s;
	font-weight: 500;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #7EE1D6;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
	}
  }
  
  body {
	background-color: #FF6F61;
  }
  
  main {
	height: 100vh;
  }
  
  .turquoise {
	background-color: #45B5AA; 
  }
/*Body*/
body{
	background-color: #1B1C1E;
}
.home{
	height: 100vh;
	width: 100vw;
}
#myName{
	font-size: 3rem;
	color: aliceblue;
	margin-bottom: 5vh;
	animation-duration: 1s;
}
.subtitle{
	color: aliceblue;
	font-size: 2rem;
	animation-duration:2s;
}
.section{
	height: 100vh;
	width: 100vw;
}
.sectionTittle{
	font-size: 2rem;
	color: aliceblue;
}
/*****/